.bookList {
	padding: 190px 20px 130px;
}

.bookList h2 {
	position: fixed;
	left: 0;
	top: 102px;
	z-index: 500;
	width: 100%;
	font-size: 25px;
	padding: 30px 20px;
	background-color: #fff;
}

.listArea {}

.listArea li ~ li {
	margin-top: 25px;
}

.listArea .rank {
	display: inline-block;
	width: 35px;
	padding: 10px 0;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	background-color: red;
}

.listArea .tit {
	position: relative;
	display: inline-block;
}

.listArea .tit:hover {
	color: red;
}

.listArea .tit:hover .imgArea {
	display: block;
}

.listArea .author {
	padding-left: 60px;
	margin-bottom: 10px;
}

.imgArea {
	display: none;
	position: absolute;
	top: -100px;
    left: 200px;
	z-index: 501;
	padding: 20px;
	background-color: red;
}

.imgArea img {
	width: 200px;
}

.listArea a {
	margin-left: 60px;
}

.listArea a:hover {
	color:red;
}