.bookList {
	padding: 130px 20px
}

.bookList h2 {
	font-size: 25px;
}

.listArea {
	margin-top: 40px;
}

.listArea li ~ li {
	margin-top: 25px;
}

.listArea .rank {
	display: inline-block;
	width: 35px;
	padding: 10px 0;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	background-color: red;
}

.listArea .tit {
	position: relative;
	display: inline-block;
}

.listArea .tit:hover .imgArea {
	display: block;
}

.listArea .author {
	padding-left: 60px;
	margin-bottom: 10px;
}

.imgArea {
	display: none;
	position: absolute;
	top: -120px;
    left: 200px;
	z-index: 10;
}

.imgArea img {
	width: 200px;
}

.listArea a {
	margin-left: 60px;
}

.listArea a:hover {
	color:red;
}